<!doctype html>
<html>
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Metube (WIP)</title>

	<!-- Load styling -->
	<link rel="stylesheet" href="_libs_/bootstrap/dist/css/bootstrap.min.css">
	
	<link rel="stylesheet" href="metube.style.css">
	<link rel="stylesheet" href="authentication/authentication.style.css">
	
	<link rel="stylesheet" href="blog/menu.style.css">
	<link rel="stylesheet" href="blog/view/view.style.css">
	<link rel="stylesheet" href="blog/archive/archive.style.css">
	<link rel="stylesheet" href="blog/create/create.style.css">

	<link rel="stylesheet" href="games/games.style.css">
	<link rel="stylesheet" href="games/slidingCircuit/slidingCircuit.style.css">

	<!-- Load logic -->
	<!-- angular or third party scripts -->
	<!-- bower:js -->
	<script src="_libs_/jquery/dist/jquery.js"></script>
	<script src="_libs_/angular/angular.js"></script>
	<script src="_libs_/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="_libs_/angular-mocks/angular-mocks.js"></script>
	<script src="_libs_/bootstrap/dist/js/bootstrap.js"></script>
	<!-- endbower -->

	<!-- metube scripts -->
	<script src="/metube.module.js"></script>
	
	<!-- common directives: -->
	<script src="/menu/menu.module.js"></script>
	<script src="/menu/menu.service.js"></script>
	<script src="/menu/menu.controller.js"></script>
	
	<!-- authentication: -->
	<script src="/authentication/authentication.module.js"></script>
	<script src="/authentication/authenticationApi.service.js"></script>
	<script src="/authentication/authenticationStatus.service.js"></script>
	<script src="/authentication/authentication.controller.js"></script>
	
	<!-- blog: -->
	<script src="/blog/blog.module.js"></script>
	<script src="/blog/blogApi.service.js"></script>
	<script src="/blog/blogMenu.controller.js"></script>
	<script src="/blog/archive/archive.module.js"></script>
	<script src="/blog/archive/archive.controller.js"></script>
	<script src="/blog/view/view.module.js"></script>
	<script src="/blog/view/view.controller.js"></script>
	<script src="/blog/view/paragraph.directive.js"></script>
	<script src="/blog/create/create.module.js"></script>
	<script src="/blog/create/create.service.js"></script>
	<script src="/blog/create/create.content.controller.js"></script>
	<script src="/blog/create/create.layout.controller.js"></script>
	<script src="/blog/create/create.preview.controller.js"></script>
	<script src="/blog/create/paragraphsParserAndFormatter.directive.js"></script>
	<script src="/blog/create/tagsParserAndFormatter.directive.js"></script>

	<!-- games: -->
	<script src="/games/games.module.js"></script>
	<script src="/games/slidingCircuit/slidingCircuit.module.js"></script>
	<script src="/games/slidingCircuit/slidingCircuit.service.js"></script>
	<script src="/games/slidingCircuit/slidingCircuit.controller.js"></script>
	<script src="/games/slidingCircuit/keypressEvents.directive.js"></script>
</head>
<body ng-app="metube" ng-controller="menu">
	<!--
	<div ng-if="!authenticationStatus.isAuthenticated">
		<form name="loginForm" ng-submit="login(login.username, login.password)" novalidate>
			<input type="text" ng-model="login.username" placeholder="username" required></input>
			<br/>
			<input type="password" ng-model="login.password" placeholder="password" required></input>
			<br/>
			<input type="submit" ng-disabled="loginForm.$invalid" value="Login"></input>
		</form>
	</div>

	<div ng-if="authenticationStatus.isAuthenticated">
		<button ng-click="logout()">Logout</button>
	</div>
	<hr />
	-->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Metube</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li ng-repeat="link in menuLinks" ng-class="{active: isActive(link.stateRoot || link.state)}">
							<a ui-sref={{link.state}}>
								{{link.title}} <span class="sr-only">(current)</span>
							</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li ng-if="!authenticationStatus.isAuthenticated">
						<a ui-sref="login">Login</a>
					</li>
					<li ng-if="authenticationStatus.isAuthenticated">
						<a ng-click="logout()">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div ui-view>
			<!-- being filled in by angular -->
		</div>
	</div>
</body>
</html>