$small_screen: "only screen and (max-width : 800px)";

.blogView {
	width: 800px;
	@media #{$small_screen} {
		width: 100%;
	}
	margin: auto;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	@media #{$small_screen} {
		border: none;
	}
	.post {
		hr {
			width: 750px;
			@media #{$small_screen} {
				width: 100%;
			}
		}
		.title {
			padding: 10px;
			margin-bottom: 0px;
			text-align: center;
			font-size: 30px;
		}
		.metaData {
			width: 750px;
			@media #{$small_screen} {
				width: 100%;
			}
			margin: auto;
			.postedDate {
				text-align: left;
				width: 250px;
				margin: 0;
				padding: 0;
				display: inline-block;
				@media #{$small_screen} {
					width: 100%;
					display: block;
				}
			}
			.author {
				text-align: center;
				width: 250px;
				margin: 0;
				padding: 0;
				display: inline-block;
				@media #{$small_screen} {
					width: 100%;
					display: block;
					text-align: left;
				}
			}
			.tags {
				display: inline;
				float: right;
				@media #{$small_screen} {
					width: 100%;
					display: block;
					text-align: left;
				}
			}
		}
		.content {
			p {
				margin: 0;
				padding: 10px 25px;
			}
			.header {
				font-weight: bold;
				text-align: center;
				font-size: 1.2em;
			}
			.text {
				text-align: justify;
				text-justify: inter-word;
				
				&.firstParagraph p:first-child:first-letter {
					float: left;
					//color: #903;
					font-size: 55px;
					line-height: 50px;
					padding-top: 4px;
					padding-right: 8px;
					padding-left: 3px;
					font-family: Georgia;
				}
			}
			.image {
				text-align: center;
				img {
					max-width: 600px;
					@media #{$small_screen} {
						max-width: 100%;
					}
				}
				.caption {
					margin: 0;
					padding: 0;
					font-size: 0.9em;
				}
			}
		}
	}
}