<div class="blogNewPost">
	<form name="newBlogForm" ng-submit="submitBlogPost(newPost)" novalidate>
		<input type="text" ng-model="newPost.title" placeholder="Title"></input>
		<input type="text" ng-model="newPost.author" placeholder="Author"></input>
		<input type="text" ng-model="newPost.postedDate" placeholder="1400123456"></input>
		<input type="text" ng-model="newPost.tags" placeholder="Tag, Tag"></input>
		<textarea ng-model="newPost.content"></textarea>
		<input type="submit" ng-disable="newBlogForm.$invalid" >Post</input>
	</form>
</div>